@import '../../vars.css';

.containerHero {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.leftHero {
    display: flex;
    flex-direction: column;
    z-index: 1;
    animation: appear_from_left_scale linear;
    animation-duration: 1s;
}

.leftHeroTitle {
    color: var(--color-text);
    font-weight: 700;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1)0%, rgba(255, 255, 255, 0.3)100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.leftHeroDesc {
    color: var(--color-text);
    font-weight: 500;
    font-size: 25px;

}

.contact {
    margin-top: 20px;
}

.contact a {

    border-radius: 100px;
    text-align: center;
    color: var(--color-text);
    text-decoration: none;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: 500;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
    animation-name: back_ground_color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes back_ground_color {
    0% {
        background-color: rgba(23, 24, 112, 0.61);
    }

    50% {
        background-color: rgba(93, 94, 168, 0.61);
    }

    100% {
        background-color: rgba(23, 24, 112, 0.61);
    }
}

.rightHero {
    width: 70%;
    text-align: center;
    z-index: 1;
    animation: appear_from_right_scale linear;
    animation-duration: 1s;
}

@keyframes appear_from_right_scale {
    from {
        opacity: 0;
        scale: 0.5;
        translate: 100px 0;
    }

    to {
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

.rightHeroImage {
    margin: 0 auto;
    width: 90%;
    border-radius: 300px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.topHero {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: rgba(10, 30, 90, 0.4);
    transform: translate(0px, -20%);
    border-radius: 300px;
    filter: blur(50px);
    z-index: 0;
}

.downHero {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: rgba(10, 30, 90, 0.4);
    transform: translate(60%, 70%);
    border-radius: 300px;
    filter: blur(50px);
    z-index: 0;
}

@media screen and (max-width:830px) {
    .containerHero {
        flex-direction: column-reverse;
    }

    .leftHero {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    .leftHeroTitle {
        font-weight: 600;
        font-size: 30px;
    }

    .leftHeroDesc {
        font-weight: 400;
        font-size: 20px;
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 20px);
    }

    0% {
        transform: translate(0, 0);
    }
}

@keyframes appear_from_left_scale {
    from {
        opacity: 0;
        scale: 0.5;
        translate: -100px 0;
    }

    to {
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}