@import '../../vars.css';

.containerAbout{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 90px;
}
.titleAbout{
    font-weight: 700;
    font-size: 50px;
    color: var(--color-text);
}
.contentAbout{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftAbout{
    margin-left: 30px;
    margin: auto 0;
}
.rightAbout{
    width: 100%;
}
.topRightAbout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.selectAbout{
    color: var(--color-text);
    padding: 40px;
    border-radius: 20px;
    background : rgba(4, 2, 143, 0.61);
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(19, 34, 85);
}
.goodSelect{
    box-shadow: 0 0 30px rgb(19, 34, 85);
    background : rgba(46, 43, 245, 0.753);
    border: solid 2px rgb(56, 38, 214);
}

.bottomRightAbout{
    color: var(--color-text);
    margin-top: 40px;
    margin-left: 20px;
    width: 90%;
    font-size: 25px;
}


@media screen and (max-width:830px) {
    .contentAbout{
        flex-direction: column;
        align-items: center;
    }
    .selectAbout{
        padding: 20px;
    }
}
@media screen and (max-width:400px) {
    .selectAbout{
        padding: 10px;
        font-size: 25px;
        font-weight: 400;

    }
    .titleAbout{
        font-weight: 600;
        font-size: 30px;
    }
}